section {
    min-height: 450px;
}

.section-awal {
    margin-top: 50px;
}

.container-konten {
    margin-bottom: 200px;
}

.containers-konten {
    margin-bottom: 500px;
}


.jumbotron {
    margin-top: 50px;
}

body {
    font-weight: 300;
}

hr {
    border-top: 3px solid #222a355b;
    width: 250px;
}

/* HEADER */

.nav-link {
    margin-right: 20px;
}

.btn-modif {
    border-radius: 30px;
}


.jumbotron-buku {
    background-image: url(https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-position: 30%;
    height: 420px;
    position: relative;
    color: white;
    margin-top: 55px;
    padding-top: 120px;
}

.jumbotron-anggota {
    background-image: url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-position: 40%;
    height: 480px;
    position: relative;
    color: white;
    margin-top: 55px;
    padding-top: 120px;
}

.jumbotron-daftar-anggota {
    background-image: url(https://images.unsplash.com/photo-1517634124304-9d0f2b369df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-size: cover;
    background-position-y: 40%;
    position: relative;
    color: white;
}


.jumbotron-section::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.container-jumbotron {
    z-index: 1;
    position: relative;
}



/* ABOUT US */

.judul-section {
    font-family: raleway;
    font-weight: 700;
    padding-top: 10px;
    text-align: center !important;
}

.gambar-thumnail {
    width: 420px;
}


/* BAGIAN BENEFIT */

section .benefit {
    min-height: 450px;
}



/* FOOTER */
.copyright {
    background-color: #222A35;
    padding: 20px;
    height: 80px;
}

footer p {
    color: white;
    font-size: 1em;
}


/* BAGIAN DETAIL */
.detail, .form-edit {
    margin-top: 100px;
}


/* VERSI MOBILE */
@media (min-width: 480px) { 
    
    /* ISI KONTEN */
    .text-jumbotron {
        font-size: 18px;
    }

    /* ABOUT */
    .judul-section {
        font-size: 28px;
        padding-top: 30px;
    }

    /* BENEFIT */
    .card {
        margin-top: 30px;
        text-align: center;
    }
 }









































 